@charset 'UTF-8';

.su-hero {
  .su-hero__media {
    .gradient-overlay {
      height: unset;
    }
  }
}

// Transparent overlay banner variant
.csharp-wrapper--banner-transparent-overlay {
  .su-hero {
    .su-hero__media {
      min-height: auto;
      position: absolute;

      img {
        opacity: 0.4;
      }

      .gradient-overlay {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 75%;
        background: linear-gradient(108deg, #121212 28.73%, rgba(46, 45, 41, 0.00) 55.15%);
        z-index: 9;
      }
    }

    &.overlay-right {
      .gradient-overlay {
        right: 0;
        left: unset;
        background: linear-gradient(252deg, #121212 28.73%, rgba(46, 45, 41, 0.00) 55.15%);
      }
    }

    .su-hero__card {
      background: transparent;
      border: 0;
      box-shadow: none;
      left: auto;
      text-align: center;
      max-width: unset;
      margin: 0;
      bottom: unset;

      @include grid-media-min('md') {
        max-width: 650px;
        text-align: unset;
      }

      .su-card__contents {
        @include responsive-spacing('padding-top', 4);
        @include responsive-spacing('padding-bottom', 5);

        color: $su-color-black-10;
        max-width: 100ch;
        margin: 0 auto;
        min-height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        :first-child {
          margin-top: 0;
        }

        span {
          @include type-d;
        }

        h2 {
          @include type-a;

          font-family: $su-font-slab;
          font-weight: 500;

          @include grid-media-min('md') {
            font-size: 9.6rem;
            letter-spacing: 0.48px;
          }
        }

        p {
          @include type-c;

          font-family: $csharp-font--roboto;
          margin-right: 0;
          margin-left: 0;

          @include grid-media-min('md') {
            font-size: 4.4rem;
            line-height: 120%;
            letter-spacing: 0.22px;
          }
        }

        .su-card__button {
          a {
            border-radius: 7px;

            &:hover,
            &:focus,
            &:active {
              background-color: $su-color-white;
              color: $su-color-black;
            }
          }
        }
      }
    }
  }

  @include grid-media-min('md') {
    &.overlay-left {
      .su-card {
        left: 80px;
      }
    }

    &.overlay-right {
      .su-card {
        right: 80px;
        margin-left: auto;

        .su-card__contents {
          align-items: flex-end;

          p {
            text-align: end;
          }
        }
      }
    }
  }
}
