@charset "UTF-8";

.su-masthead {
  .su-lockup--option-o {
    flex: unset;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    .su-lockup__cell1 {
      border-right: 1px solid #2e2d29;
      padding-right: 2rem;
      max-width: max-content;
    }

    .su-lockup__wordmark-wrapper {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .su-lockup__line4{
      font-family: $su-font-slab;
      margin-top: 1.5rem;
      text-transform: unset;
      font-weight: 400;
      text-align: end;
    }
  }
}
