@charset "UTF-8";

.su-masthead {
  .su-lockup--option-o {
    flex: unset;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    // margin-top: 2.5rem;
    // margin-bottom: 2.5rem;

    .su-lockup__cell1 {
      @include grid-media-min('md') {
        border-right: 1px solid #2e2d29;
        padding-right: 2rem;
        max-width: max-content;
      }
    }

    .su-lockup__wordmark-wrapper {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .su-lockup__wordmark {
      @include grid-media-min('md') {
        font-size: 3.8rem;
      }

      @include grid-media-min('lg') {
        font-size: 4.1rem;
      }
    }

    .su-lockup__line4{
      font-family: $su-font-slab;
      font-weight: 400;
      font-size: 2.2rem;
      margin-top: 1.5rem;
      text-transform: unset;
      text-align: end;

      @include grid-media-min('md') {
        font-size: 2.3rem;
      }

      @include grid-media-min('lg') {
        font-size: 2.7rem;
      }
    }
  }
}
