@charset "UTF-8";

.filter-menu {
  .topics__collapsable-menu {
    color: $csharp-color-green;

    .su-link--jump {
      &::after {
        background-color: $csharp-color-green;
      }
    }
  }

  .menu {
    .menu-item--active-trail {
      &::before {
        color: $csharp-color-green;
      }

      .is-active {
        color: $csharp-color-green;
      }
    }
  }
}

.su-link,
.su-link--action,
.su-link--internal,
.su-link--external,
a {
  color: $csharp-color-green;

  &::after {
    background-color: $csharp-color-green;
  }

  &:focus,
  &:hover,
  &:active {
    color:  $su-color-black;

    &::after {
      background-color: $su-color-black;
    }

    svg {
      fill: $su-color-black;
    }
  }

  &.mailto {
    &::after {
      background-color: $csharp-color-green;
    }

    svg {
      fill: $csharp-color-green;
    }

    &:focus,
    &:hover,
    &:active {
      color:  $su-color-black;

      &::after {
        background-color: $su-color-black;
      }

      svg {
        fill: $su-color-black;
      }
    }
  }
}

.su-secondary-nav {
  a {
    &:after {
      background-color: transparent;
    }
  }
}
